{
  "extends": ["plugin:mdx/recommended"],
  // lint code blocks true
  "settings": {
    "mdx/code-blocks": true
  },
  "rules": {
    // this rule didn't compatible with Mintlify REST/OpenAPI definition
    "no-unused-expressions": "off"
  }
}
