{
  "extends": ["plugin:mdx/recommended"],
  "settings": {
    "mdx/code-blocks": true
  },
  "rules": {
    // Not compatible with Mintlify REST/OpenAPI definition
    "no-unused-expressions": "off"
  }
}
