[submodule "dev/local-celestia-devnet"]
	path = dev/local-celestia-devnet
	url = https://github.com/rollkit/local-celestia-devnet
[submodule "chain/contracts/lib/forge-std"]
	path = chain/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "example/starter-game-template"]
	path = example/starter-game-template
	url = https://github.com/Argus-Labs/starter-game-template
