[submodule "dev/local-celestia-devnet"]
	path = dev/local-celestia-devnet
	url = https://github.com/rollkit/local-celestia-devnet
[submodule "chain/contracts/lib/forge-std"]
	path = chain/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
