go 1.21.2

use (
	assert
	cardinal
	docs
	evm
	internal/e2e
	internal/e2e/tester/game
	internal/e2ebenchmark
	internal/e2ebenchmark/tester/game
	internal/nakama
	internal/nakamabenchmark
	relay/nakama
	rift
	sign
)
