go 1.21.0

use (
	assert
	cardinal
	evm
	internal/e2e
	internal/e2e/tester/game
	internal/e2ebenchmark
	internal/e2ebenchmark/tester/game
	internal/nakama
	internal/nakama_benchmark
	relay/nakama
	rift
	sign
)
