[Unit]
Description=argusd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=argusd
Group=argusd
PermissionsStartOnly=true
ExecStart=/usr/bin/argusd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
