[Unit]
Description=arguscli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=argusd
Group=argusd
PermissionsStartOnly=true
ExecStart=/usr/bin/arguscli rest-server --laddr {{ARGUSCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
