name: Test

on:
  pull_request:
    paths-ignore:
      - "docs/**"
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"

env:
  GO_VERSION: 1.21.0

jobs:
  e2e:
    name: E2E
    runs-on: namespace-profile-linux-8vcpu-16gb-cached
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          ## skip cache, use Namespace volume cache
          cache: false
      - name: Setup Namespace cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      #- name: Cache Docker images
      #  uses: ScribeMD/docker-cache@0.3.7
      #  with:
      #    key: docker-${{ runner.os }}-${{ hashFiles('e2e/testgames/game/Dockerfile') }}
      - name: E2E Test Nakama
        run: make e2e-nakama
        # https://linear.app/arguslabs/issue/WORLD-929/re-enable-e2e-evm-tests-once-polaris-is-upgraded
#      - name: E2E Test EVM <> Cardinal # Re-enable this after polaris problem is fixed.
#        run: make e2e-evm
      - name: E2E docker compose logs last status
        if: success() || failure()
        run: |
          docker compose logs
  unit-test-coverage:
    name: Unit & Coverage
    runs-on: namespace-profile-linux-4vcpu-8gb-cached
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          ## skip cache, use Namespace volume cache
          cache: false
      - name: Setup Namespace cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Run Unit Test
        run: make unit-test-all
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
          directory: "./"
